body{
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: white;
    background-image: url("https://www.wolwx.net/downloads/KODI/Placenta/module/fanart.jpg");
}
/* this is the a global style */
*{
    margin: 0px;
    padding: 0px;
    

}
/*  this is the style for the sidebar */
.sidebar{
    box-shadow: 0px 6px 20px 20px black; 
    font-size: 30px;
    position: fixed;
    width: 200px;
    height: 100%;
    background: black;
    color: white;
    left: -220px;
    
    background-image: url("https://wallpaper-gallery.net/images/live-tv-wallpaper/live-tv-wallpaper-16.jpg");
    text-align: center;
    
}
.side{
    left: 0px; 
}
/* this is the style for the unordered list */
.sidebar ul li{
    color: white;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
    

}
.mainContent{
    box-shadow: 0px 6px 20px 5px;
    border-radius: 5px;
    position: relative;
    left: 500px;
    top: 150px;
    right: 300px;
    width: 1000px; 
   background-color: white;
   text-align: center;
}
.main{
    position: relative;
    left: 600px;
  
}
a{
    color: white;
    
}
/* this is the style of the toggle button */
.sidebar .toggle-btn{
    position: absolute;
    left: 230px;
    top: 20px;
}
.sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px 0px;

}  
/* .sidebar ul li :hover  {
 background-color: aliceblue;
} */

#header{
   /* border: 5px; */
   box-shadow: 0px 6px 10px 10px;
   border-radius: 25px;
   width: 100%;
   position: fixed;
    z-index: 1;
   background-image: url("https://wallpaper-gallery.net/images/live-tv-wallpaper/live-tv-wallpaper-16.jpg");

}
#api{
    font-size: 60px;
    color: white;
    border-bottom:10px solid black;
}
#center{
    text-align: center;
}
#container{
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    background-image: url("https://www.wolwx.net/downloads/KODI/Placenta/module/fanart.jpg");

}
#walmart{
    color: black;
}
#link{
    color: black;
}
